/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TOP BAR */
.topbar {
  height: 70px;
  background: #9ea1a6;
  display: flex;
  align-items: center;
  padding: 0 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.brand {
  font-size: 22px;
  font-style: italic;
  letter-spacing: 1px;
}

.burger {
  margin-left: auto;
  font-size: 22px;
  cursor: pointer;
}

/* OVERLAY NAVBAR */
.overlay-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #9ea1a6;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 40px;
  z-index: 9999;
}

/* LEFT */
.overlay-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.close {
  font-size: 26px;
  cursor: pointer;
}

/* CENTER */
.overlay-center {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.overlay-center a {
  text-decoration: none;
  color: #222;
  font-size: 16px;
  transition: color 0.3s ease;
}

.overlay-center a:hover
 {
  color: #ff3b3b;
}

/* RIGHT */
.overlay-right {
  display: flex;
  gap: 25px;
  font-size: 18px;
}

.overlay-right svg {
  cursor: pointer;
}

.speedDial {
  position: fixed;
  right: 3vmax;
  top: 3vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}